{namespace stash.config.jenkins.job.integration}

/**
 *
 */
{template .disableAutomaticBuildForm}
    <form class="aui" id="disable-build">
        <input class="disablecheckbox" type="checkbox" id="disablecheckbox_id" name="disableAutomaticBuild">
    	<label>Disable automatic build</label>
    </form>
{/template}